In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Employee_Compensation_Final.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037296 entries, 0 to 1037295
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Year                  1037296 non-null  int64
 1   Organization_Group    1037296 non-null  object
 2   Department            1037296 non-null  object
 3   Job_Family            1037296 non-null  object
 4   Job                   1037296 non-null  object
 5   Employment_Type       1037296 non-null  object
 6   Salaries              1037296 non-null  float64
 7   Overtime              1037296 non-null  float64
 8   Other_Salaries        1037296 non-null  float64
 9   Total_Salary          1037296 non-null  float64
 10  Retirement            1037296 non-null  float64
 11  Health_and_Dental     1037296 non-null  float64
 12  Other_Benefits        1037296 non-null  float64
 13  Total_Benefits        1037296 non-null  float64
 14  Total_Compensation    1037296 non-null  float64
 15  Union                 1037117 non-null  object
 16  Total_Pay             1037296 non-null  float64
 17  Pay_to_Benefit_Ratio  1037296 non-null  float64
 18  Overtime_Ratio        1037296 non-null  float64
 19  Benefits_Percentage   1037296 non-null  float64
 20  Overtime_Percentage   1037296 non-null  float64
dtypes: float64(14), int64(1), object(6)
memory usage: 166.2+ MB

In [4]:
print(df.head())

   Year                       Organization_Group  \
0  2016  Public Works, Transportation & Commerce
1  2013                     Culture & Recreation
2  2013  Public Works, Transportation & Commerce
3  2015  Public Works, Transportation & Commerce
4  2015         General Administration & Finance

                       Department                  Job_Family  \
0    Pub Public Utilities Bureaus    Professional Engineering
1    Rec Recreation & Park Commsn         Public Service Aide
2          Dpw Gsa - Public Works    Professional Engineering
3                        Prt Port   Supervisory-Labor & Trade
4  Adm Gen Svcs Agency-City Admin  Pub Relations & Spec Assts

                              Job Employment_Type   Salaries  Overtime  \
0  Planner 3-Environmental Review   Not Specified   54444.00      0.00
1          Public Service Trainee   Not Specified    1864.73      0.00
2                        Engineer   Not Specified  126932.10      0.00
3                     Pile Worker   Not Specified     895.47      0.00
4          Customer Service Agent   Not Specified   72969.10    157.41

   Other_Salaries  Total_Salary  ...  Health_and_Dental  Other_Benefits  \
0         2198.70      56642.70  ...            6685.54         4393.30
1           50.97       1915.70  ...            1098.62          148.32
2            0.00     126932.10  ...           12801.77         9700.48
3            0.00        895.47  ...               0.00           70.74
4         4652.76      77779.27  ...           12500.56         6403.52

   Total_Benefits  Total_Compensation  \
0        21620.05            78262.75
1         1246.94             3162.64
2        44981.86           171913.96
3          271.59             1167.06
4        35275.94           113055.21

                                             Union  Total_Pay  \
0  Prof & Tech Engineers - Miscellaneous, Local 21   56642.70
1                 SEIU - Miscellaneous, Local 1021    1915.70
2  Prof & Tech Engineers - Miscellaneous, Local 21  126932.10
3                           Pile Drivers, Local 34     895.47
4                 SEIU - Miscellaneous, Local 1021   77779.27

   Pay_to_Benefit_Ratio  Overtime_Ratio  Benefits_Percentage  \
0                  2.62        0.000000                27.62
1                  1.54        0.000000                39.43
2                  2.82        0.000000                26.17
3                  3.30        0.000000                23.27
4                  2.20        0.002024                31.20

   Overtime_Percentage
0                 0.00
1                 0.00
2                 0.00
3                 0.00
4                 0.14

[5 rows x 21 columns]

In [5]:
print(df.describe())

               Year      Salaries      Overtime  Other_Salaries  Total_Salary  \
count  1.037296e+06  1.037296e+06  1.037296e+06    1.037296e+06  1.037296e+06
mean   2.018774e+03  8.079405e+04  7.195164e+03    4.200273e+03  9.218949e+04
std    3.605499e+00  5.339539e+04  1.807768e+04    8.327143e+03  6.432305e+04
min    2.013000e+03  1.000000e-01 -4.711391e+04   -1.913110e+04  1.100000e-01
25%    2.016000e+03  4.154171e+04  0.000000e+00    0.000000e+00  4.539371e+04
50%    2.019000e+03  7.800679e+04  0.000000e+00    8.961550e+02  8.629136e+04
75%    2.022000e+03  1.140711e+05  5.830792e+03    4.942670e+03  1.286994e+05
max    2.025000e+03  6.519367e+05  4.562011e+05    3.428026e+05  7.221863e+05

         Retirement  Health_and_Dental  Other_Benefits  Total_Benefits  \
count  1.037296e+06       1.037296e+06    1.037296e+06    1.037296e+06
mean   1.565469e+04       1.100534e+04    5.738398e+03    3.239843e+04
std    1.172615e+04       6.814195e+03    3.942412e+03    1.976361e+04
min   -2.962921e+04      -2.727800e+02   -1.063650e+04   -1.941161e+04
25%    7.102858e+03       4.663705e+03    2.357907e+03    1.678981e+04
50%    1.547644e+04       1.296822e+04    5.601980e+03    3.560492e+04
75%    2.215392e+04       1.595910e+04    8.515347e+03    4.497228e+04
max    1.964351e+05       5.940523e+04    3.569104e+04    2.250063e+05

       Total_Compensation     Total_Pay  Pay_to_Benefit_Ratio  Overtime_Ratio  \
count        1.037296e+06  1.037296e+06            1037296.00    1.037296e+06
mean         1.245879e+05  9.218949e+04                   inf    5.376153e-02
std          8.206622e+04  6.432305e+04                   NaN    9.974872e-02
min          1.200000e-01  1.100000e-01            -291727.00   -3.231352e+01
25%          6.332053e+04  4.539371e+04                  2.24    0.000000e+00
50%          1.219855e+05  8.629137e+04                  2.61    0.000000e+00
75%          1.740855e+05  1.286994e+05                  3.48    7.091851e-02
max          8.687280e+05  7.221863e+05                   inf    9.944382e-01

       Benefits_Percentage  Overtime_Percentage
count         1.037296e+06         1.037296e+06
mean          2.594485e+01         4.113642e+00
std           2.514790e+01         7.502629e+00
min          -2.415850e+04        -4.014600e+02
25%           2.232000e+01         0.000000e+00
50%           2.773000e+01         0.000000e+00
75%           3.091000e+01         5.160000e+00
max           9.950000e+01         9.165000e+01